---
import BaseLayout from "../../components/BaseLayout.astro";
import Card from "../../components/Card.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
allPosts.sort((b:any, a:any)=> 
    a.frontmatter.pubDate.localeCompare(b.frontmatter.pubDate) ||
    b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate)
)
// const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]
const uniqueTags = Array.from(new Set(allPosts.map((post:any) => post.frontmatter.tags).flat()))
---
<BaseLayout>
    <div class="tag-container">
        {
            uniqueTags.map((tag:any)=> <a href={`/tags/${tag}`} class="tag">{tag}</a>)
        }
    </div>
    <div class="container">
        <!-- {
             allPosts.map(function(post:any){
                return <h2>{post.frontmatter.title}</h2>
            })
        } -->
        {

            allPosts.map((post:any) => <Card url={post.url} data={post.frontmatter}></Card>)
        }
    </div>
</BaseLayout>
<style>
    .tag-container {
        padding-block: 30px;
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
    }
    .tag {
        padding: 8px 20px;
        background-color: #ffd448;
        color: #000;
        text-decoration: none;
        border-radius: 30px;
        font-size: 14px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:30px;
    }
</style>