---
import BaseLayout from "../components/BaseLayout.astro";

import MyTitle from '../components/MyTitle.astro'

import Card from "../components/Card.astro";
const allPosts = Object.values(import.meta.glob('./blog/posts/*.md', {eager: true}))
allPosts.sort((b:any, a:any)=> 
    a.frontmatter.pubDate.localeCompare(b.frontmatter.pubDate) ||
    b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate)
)
const newPosts = allPosts

const featurePosts = allPosts.filter((post:any)=>post.frontmatter.feature == true)
if(featurePosts.length > 3){featurePosts.length = 3}
// const uniqueTags = [...new Set(allPosts.map((post:any) => post.frontmatter.tags).flat())]
const uniqueTags = Array.from(new Set(allPosts.map((post:any) => post.frontmatter.tags).flat()))

---
<BaseLayout>
	<header>
		<img src="/images/banner.jpg" alt="">
	</header>
	<!-- <h1>HELLO ASTRO</h1> -->
	<MyTitle msg="hello astro" name="123"></MyTitle>
	<h2>所有標籤</h2>
	<div class="tag-container">
        {
            uniqueTags.map((tag:any)=> <a href={`tags/${tag}`} class="tag">{tag}</a>)
        }
    </div>
	<h2>推薦文章</h2>
	<div class="container">
        {

            featurePosts.map((post:any) => <Card url={post.url} data={post.frontmatter}></Card>)
        }
    </div>
	<h2>最新文章</h2>
	<div class="container">
        {

            newPosts.map((post:any) => <Card url={post.url} data={post.frontmatter}></Card>)
        }
    </div>
</BaseLayout>
<style>
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		margin-bottom: 50px;
	}
	.tag-container {
        padding-block: 30px;
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
    }
    .tag {
        padding: 8px 20px;
        background-color: #ffd448;
        color: #000;
        text-decoration: none;
        border-radius: 30px;
        font-size: 14px;
    }
</style>