---
let a = ['apple','banana','cat']
let title = 'Hello Astro'
const allPosts = Object.values(import.meta.glob('../blog/posts/*.md',{eager:true}))
const tags = allPosts.map((post:any)=>post.frontmatter.tags).flat()
const uniqueTags = new Set(tags)
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {uniqueTags} -->
    <!-- <h1>{title}</h1>
    {
        a.map(function(data){
            return <div>{data}</div>
        })
    }

    <ul>
        <li>{a[0]}</li>
        <li>{a[1]}</li>
        <li>{a[2]}</li>
    </ul> -->
    <script>
        const allPosts = Object.values(import.meta.glob('../blog/posts/*.md',{eager:true}))
        const tags = allPosts.map((post:any)=>post.frontmatter.tags).flat()
        // const uniqueTags = Array.from(new Set(tags))
        const uniqueTags = [...new Set(tags)]
        console.log(uniqueTags)
    </script>
</body>
</html>